@model Survey
@{
    ViewData["Title"] = "Dojo Survey Index";
}

<head>
    <link rel="stylesheet" href="~/css/indexstyle.css">
</head>
<body>
    <div id="pad"></div>
    <div class="text-center">
        <div class="container">
            <div class="content"><br>
                <div class="form">
                            <form asp-action="Result" asp-controller="Survey" method="POST">
                            Your Name: <input type='text' asp-for='Name'> <br>
                            <span asp-validation-for="Name"></span><br>
                            
                            Dojo Location: 
                                <select asp-for="Location" id="location">
                                    <option value="">--</option>
                                    <option value="Bellevue">Bellevue</option>
                                    <option value="Boise">Boise</option>
                                    <option value="Chicago">Chicago</option>
                                    <option value="Dallas">Dallas</option>
                                    <option value="Los Angeles">Los Angeles</option>
                                    <option value="San Jose">San Jose</option>
                                </select><br>
                                <span asp-validation-for="Location"></span>
                                <br>
                            Favorite Language: 
                                <select asp-for="Language" id="language">
                                    <option value="">--</option>
                                    <option value="Python">Python</option>
                                    <option value="Javascript">Javascript</option>
                                    <option value="Java">Java</option>
                                    <option value="C#">C#</option>
                                    <option value="C">C</option>
                                    <option value="C++">C++</option>
                                    <option value="GO">GO</option>
                                    <option value="R">R</option>
                                    <option value="Swift">Swift</option>
                                    <option value="PHP">PHP</option>
                                </select> <br>
                                <span asp-validation-for="Language"></span><br>
                                <!-- <label for="comments">Comments:</label> -->
                                Comments: (Optional) <br>
                            <textarea asp-for="Comments" rows="10" cols="30"></textarea> <br>
                            <span asp-validation-for="Comments"></span><br>
                                <input id='submit'  type='submit' value='create user'>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>