@using Dojo_Survey_Model.Models;
@model Survey
@{
    ViewData["Title"] = "Dojo Survey - Result";
}

<head>
    <link rel="stylesheet" href="~/css/resultstyle.css">
</head>
<body>
    <div class="top"><br><br><br></div>
    <div class="text-center">
        <div class="container">
            <div class="content">
                <div class="top">
                    <h2>Submitted Info</h2>
                </div>
                <div class="bottom">
                    <p>Name:                      @Model.Name</p>
                    <p>Dojo Location:             @Model.Location</p>
                    <p>Favorite Language:         @Model.Language</p>
                    <p>Comment:                   @Model.Comments</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>