@using Dojo_Survey_Model.Models;
@model Survey
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results - .NET Core</title>
    <link rel="stylesheet" href="~/css/resultstyle.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="top">
                <h2>Submitted Info</h2>
            </div>
            <div class="bottom">
                <p>Name:                      @Model.Name</p>
                <p>Dojo Location:             @Model.Location</p>
                <p>Favorite Language:         @Model.Language</p>
                <p>Comment:                   @Model.Comments</p>
            </div>
        </div>
    </div>
</body>
</html>