<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employees</h1>
    <table>
        <thead>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>ID</th>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{employee['first_name']}}</td>
                <td>{% if employee['middle_name'] != None %}{{employee['middle_name']}}{% else %} {% endif %}</td>
                <td>{{employee['last_name']}}</td>
                <td>{{employee['id']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action='/employees/create' method='POST'>
        First Name: <input type='name' name='first_name'><br>
        Middle Name: <input type='name' name='middle_name'><br>
        Last Name: <input type='name' name='last_name'><br>
        Salary: <input type='number' name='salary'><br>
        Department: <select name='department_id'>
            {% for department in departments %}
            <option value="{{department['id']}}">{{department['name']}}</option>
            {% endfor %}
        </select>
        <input type='submit'>
    </form>
</body>
</html>