<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table via Jinja </title>
<style>
div {
    display:flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

</head>
<body>
    <div>
        <h1>Users HTML Table</h1>
    </div>
    <div>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
            
            {% for user in users%}
            <tr>
                <td>{{user['first_name']}}</td>
                <td>{{user['last_name']}}</td>
                <td>{{user['first_name'] +' '+ user['last_name']}}</td>
            </tr>
            {% endfor %}
            </tr>   
        </table>
    </div>
    
    
</body>
</html>