<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
    .container {
        align-content: center;
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="container">
    <div>
        <h1>Counter</h1>
    </div>
    <div>
        <h2>You have visited this site {{session['visits']}} times.</h2>
        <a href="/count"><button>Increment Up 1</button></a>
        <a href="/reset"><button>Reset Counter</button></a> 
        
    </div>
</div>
</body>
</html>