* {
    font-family: 'Antonio', sans-serif;
    color:ghostwhite;
}

body {
    background-color: black;
    padding: 20px;
}
.navbar {
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 10px;
}
.navleft{
    width: 900px;
    height: 80px;
    display: flex;
}

.navleft ul {
    display: flex;
    list-style-type: none;
}

li {
    display: flex;
    margin-right: 50px;
    padding-top: 17px;
    justify-content: center;
}
ul li:hover {
    opacity: 1;
}

h1 {
    color: red;
    margin-right: 25px;
}

.navright {
    height: 100px;
    display: flex;
    align-items: center;
}
.navright img {
    border-radius: 50%;
    width: 50px;
}
.navright input {
    border-radius: 2px;
    text-align: center;
    background-color: black;
    margin-right: 15px;

}

.genre {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 10px;
}

.library {
    height: 500px;
    background-color: rgb(0, 0, 0);
    padding: 4px;
    display: flex;
    flex-wrap: wrap;

}
.show {
    margin: 3px;
}
.show img {
    width: 240px;
    height: 135px;
    object-fit: cover;
}
.show h3 {
    margin: 5px 0px; 
}