<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit {{edit_employee.full_name()}}</h1>
    <form action='/update/employee' method='POST'>
        <input type="hidden" name="id" value="{{edit_employee.id}}">
        First Name: <input type='name' name='first_name' value="{{edit_employee.first_name}}"><br>
        Middle Name: <input type='name' name='middle_name' value="{{edit_employee.middle_name}}"><br>
        Last Name: <input type='name' name='last_name' value="{{edit_employee.last_name}}"><br>
        Salary: <input type='number' name='salary' value="{{edit_employee.salary}}"><br>
        <input type='submit'>
    </form>
</body>
</html>