@{
    ViewData["Title"] = "Home Page - Register";
}
@model User

<a href="/login" class="btn btn-link" class="form-control mr-sm-2">Login</a>
<div class="text-center">
    <h1 class="display-6">Register for this totally not sketchy site</h1> 
    <form action="/reg/newuser" method="POST">
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <span asp-validation-for="FirstName"></span>
            <input type="text" asp-for="FirstName" class="form-control" aria-describedby="name" placeholder="First Name">
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <span asp-validation-for="LastName"></span>
            <input type="text" asp-for="LastName" class="form-control" aria-describedby="name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label asp-for="Email">Email Address</label>
            <span asp-validation-for="Email"></span>
            <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll def probably never share your email with anyone else maybe.*</small>
            
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password"></span>
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label asp-for="Confirm">Confirm Password</label>
            <span asp-validation-for="Confirm"></span>
            <input asp-for="Confirm" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Sign Up Now</button>
    </form>
    
    
    
    
</div>
