@{
    ViewData["Title"] = "GREAT SUCCESS";
}
<a href="/logout" class="btn btn-link" class="form-control mr-sm-2">Logout</a>
<div class="text-center">
    <h1>GREAT SUCCESS</h1>

    <img src="https://png.pngitem.com/pimgs/s/163-1633867_borat-great-success-png-transparent-png.png" alt="Great Success">
</div>