@{
    ViewData["Title"] = "Login/Register - Wedding Planner";
}
<br><br>
<div class="d-flex">
    
    <div class="col-6">
        
        <h2>Register</h2>
        <partial name="_RegPartial" />
    </div>
    
    <div class="col-6">
        
        <h2>Login</h2>
        <partial name="_LoginPartial" />
        
    </div>
    
    
</div>